.new-tweet-form {
  padding-block: 1.5em;
  padding-inline: 1.25em;

  display: grid;
  gap: 0.5rem;
}

.new-tweet-form__group {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 0.75rem;
}

.new-tweet-form__textarea {
  background-color: transparent;
  color: var(--clr-neutral-900);

  border: 0;
  font-size: var(--fs-500);
  font-weight: 500;
  resize: none;
}

.new-tweet-form__textarea::placeholder {
  color: var(--clr-neutral-500);
}

.new-tweet-form__textarea:is(:focus-within) {
  outline: none;
}

.new-tweet-form > button {
  justify-self: end;
  font-size: var(--fs-400);
  padding-inline: 2em;
  padding-block: 0.75em;
}

@media (max-width: 780px) {
  .new-tweet-form__textarea {
    font-size: var(--fs-400);
  }
}
